<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${env.USER}</username>
            <password>${env.PASSWORD}</password>
            <id>java</id>
        </server>
    </servers>

    <!--    <mirrors>-->
    <!--        <mirror>-->
    <!--            <id>official-mirror</id>-->
    <!--            <name>Official Maven Repo</name>-->
    <!--            <url>https://repo.maven.apache.org/maven2</url>-->
    <!--            <mirrorOf>central</mirrorOf>-->
    <!--        </mirror>-->
    <!--    </mirrors>-->

    <proxies>
        <proxy>
            <id>proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.com</host>
            <port>8080</port>
<!--            <nonProxyHosts></nonProxyHosts>-->
        </proxy>
    </proxies>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
